<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Watch Market</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">
            <img src="~/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Watch Market
        </a>
        <a href="#" class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            <i class="fas fa-shopping-cart"></i>
            Cart
            <span class="badge badge-secondary"></span>
        </a>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <script src="https://kit.fontawesome.com/44a1f68427.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/script.js")
    @RenderSection("scripts", required: false)
</body>
</html>
